.cals{
  display: flex;
  justify-content: center;
}

.calcu{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calcu > * {
  border: 1px solid black;
  padding: 25px;
}

.row{
  grid-column: 1/-1;
}

#display{
  text-align: right;
}

#clear{
  text-align:center;
}